* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #fff;
  color: #707070;
  font-family: 'Prompt', sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 1.9em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.4em;
}

h5 {
  font-size: 1.2em;
}

h6 {
  font-size: 1em;
}

p, span, label {
  font-size: 1em;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  font-family: 'Prompt', sans-serif;
  font-size: inherit;
}

input:focus {
  outline: none;
}

button, select {
  font-family: 'Prompt', sans-serif;
  font-size: inherit;
  cursor: pointer;
}

button:focus, select:focus {
  outline: none;
}

img {
  width: 100%;
  height: 100%;
}

.form-component.button {
  border: unset;
  border-radius: 5px;
  padding: 5px;
}

.form-component.input {
  border: 1px solid #8B8B8B;
  border-radius: 5px;
  padding: 5px 10px;
}

.form-component.select {
  border: 1px solid #8B8B8B;
  border-radius: 5px;
  padding: 5px 10px;
}

.breadcrumb {
  max-width: 1364px;
  margin: 1em auto;
}

.breadcrumb a {
  color: #27B1F8;
}

.breadcrumb a:after {
  content: '/';
  margin-left: .5em;
}

.input-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header {
  background: url(/img/bg-head.png);
  height: 50px;
  background-repeat: no-repeat;
  background-position: center;
}

.header {
  display: -ms-grid;
  display: grid;
  height: 100%;
}

@media screen and (min-width: 1024px) {
  .header {
    -ms-grid-columns: 30% 70%;
        grid-template-columns: 30% 70%;
  }
}

.header .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: .5em;
}

.header .left a {
  color: #fff;
}

.header .left a img {
  width: 160px;
}

.header .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header .right .menu {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .right .menu li {
  margin-right: 1em;
  color: #fff;
  cursor: pointer;
}

.header .right .menu .account {
  display: none;
  position: relative;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .right .menu .account i {
  margin-right: 5px;
}

.header .right .menu .account ul {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background: #001764;
  z-index: 10;
  padding: .5em 1em;
}

.header .right .menu .account:hover ul {
  display: block;
}

.header .right .company button {
  background: #000;
  color: #fff;
}

.header .right .other {
  margin: 0 1em;
}

.header .right .other > i {
  cursor: pointer;
  color: #fff;
}

.header .right .other > ul {
  background: #001764;
  color: #fff;
  padding: .5em;
  position: absolute;
  top: -100em;
  right: 0;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  z-index: 5;
  -webkit-transition: .3s;
  transition: .3s;
}

.header .right .other > ul li {
  margin: .25em 0;
}

.header .right .other > ul li i {
  width: 20px;
}

.header .right .other > ul.active {
  top: 3em;
  -webkit-transition: .3s;
  transition: .3s;
}

.header .right .lang {
  display: none;
}

.header.loging .right .menu a:nth-child(3),
.header.loging .right .menu a:nth-child(4),
.header.loging .right .menu a:nth-child(5) {
  display: none;
}

.header.loging .right .menu .account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  grid-row-gap: 1em;
  background: #3D3D3D;
}

@media screen and (min-width: 1200px) {
  .footer {
    -ms-grid-columns: 14% 30% 28% 23%;
        grid-template-columns: 14% 30% 28% 23%;
    grid-column-gap: 2%;
    padding: 2em 5em;
  }
}

@media screen and (min-width: 1600px) {
  .footer {
    -ms-grid-columns: 14% 30% 30% 20%;
        grid-template-columns: 14% 30% 30% 20%;
    padding: 2em 15em;
  }
}

@media screen and (min-width: 1900px) {
  .footer {
    padding: 2em 20em;
  }
}

.footer .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .logo img {
  width: 100px;
  height: 100px;
}

.footer .about, .footer .contact {
  color: #fff;
}

.footer .social h5 {
  color: #fff;
  margin-bottom: 1em;
}

.footer .social .list .facebook, .footer .social .list .twitter, .footer .social .list .instagram {
  margin: .5em 0;
  padding: 3px 10px;
  border-radius: 5px;
}

.footer .social .list .facebook i, .footer .social .list .twitter i, .footer .social .list .instagram i {
  margin-right: 10px;
  color: #fff;
}

.footer .social .list .facebook span, .footer .social .list .twitter span, .footer .social .list .instagram span {
  color: #fff;
}

.footer .social .list .facebook {
  background: #3B5B95;
}

.footer .social .list .twitter {
  background: #56ADEB;
}

.footer .social .list .instagram {
  background: -webkit-gradient(linear, left top, right top, from(#5561cc), color-stop(49%, #d428b3), to(#f8ab27));
  background: linear-gradient(90deg, #5561cc 0%, #d428b3 49%, #f8ab27 100%);
}

.copyright {
  background: url(/img/bg-head.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 43px;
}

.copyright .copyright-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.copyright .copyright-text p {
  color: #fff;
  font-size: .8em;
  margin-right: 1em;
  border-right: 1px solid #fff;
  padding-right: 10px;
}

.copyright .copyright-text > a {
  color: #fff;
  font-size: .8em;
  margin-right: 1em;
  border-right: 1px solid #fff;
  padding-right: 10px;
}

.copyright .copyright-text > a:last-child {
  border: unset;
}
/*# sourceMappingURL=job.css.map */