//color
$blue: #1468B2;
$sky: #27B1F8;
$dark-blue: #001764;
$light-gray: #8B8B8B;
$dark-gray: #707070;
$dark-black: #3D3D3D;
$black: #000;
$green: #2EC800;
$red: #FF0000;
$white: #fff;

//display
$mobile: 480px;
$tablet: 768px;
$ipadpro: 1024px;
$laptop: 1200px;
$pc: 1600px;
$wide: 1900px;