<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Job Solution</title>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;600;700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/37e3c13129.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

  <link rel="stylesheet" href="/css/job.min.css">
  <link rel="stylesheet" href="/css/page-normal.min.css">
</head>
<body>
  <header>
    <div class="header">
      <div class="left"><a href=""><img src="/img/logo/Logowhite-07.svg" alt=""></a></div>
      <div class="right">
        <ul class="menu">
          <a href="">
            <li><i class="far fa-building"></i> All employers</li>
          </a>
          <a href="">
            <li><i class="fas fa-home"></i> About us</li>
          </a>
          <a href="">
            <li><i class="fas fa-id-card"></i> Store resume</li>
          </a>
          <a href="">
            <li><i class="fas fa-edit"></i> Register</li>
          </a>
          <a href="">
            <li><i class="fas fa-sign-in-alt"></i> Log in</li>
          </a>
          <li class="account">
            <i class="far fa-user"></i> My Account

            <ul>
              <a href=""><li><i class="far fa-newspaper"></i> My History</li></a>
              <a href=""><li><i class="fas fa-sign-out-alt"></i> Log out</li></a>
            </ul>
          </li>

          
          <li><i class="fas fa-globe"></i> TH</li>
        </ul>
        <div class="company"><button class="form-component button">For company</button></div>
        <div class="other">
          <i class="fas fa-ellipsis-v" onclick="swip_menu(this)"></i>
          <ul>
            <a href=""><li><i class="far fa-newspaper"></i> Article</li></a>
            <a href=""><li><i class="fas fa-mobile-alt"></i> Contact us</li></a>
            <a href=""><li><i class="fas fa-gavel"></i> Terms of service</li></a>
            <a href=""><li><i class="fas fa-fingerprint"></i> Privacy policy</li></a>
            <a href=""><li><i class="fas fa-exclamation-triangle"></i> Disclaimer</li></a>
          </ul>
        </div>
        <div class="lang">
          <li><i class="fas fa-globe"></i> TH</li>
          <li><i class="fas fa-globe"></i> EN</li>
          <li><i class="fas fa-globe"></i> KH</li>
        </div>
      </div>

      <div class="hamburger"><i class="fas fa-bars" onclick="open_mobile_navMenu()"></i></div>
    </div>
  </header>

  <main>
    <div class="company-normal">
      <div class="head-title">
        <h2>รายชื่องาน / ชื่อบริษัท</h2>
      </div>
    
      <div class="logo-company">
        <div class="logo"><img src="/img/brand/coke-logo.png" alt=""></div>

        <div class="company-name">
          <h1>ชื่อบริษัท</h1>
          <a href="">Website <i class="fas fa-external-link-alt"></i></a>

          <p><i class="fas fa-map-marker-alt"></i> Mumbai / Bangalore / Mahasarakham</p>

          <button class="form-component button"><i class="fas fa-check"></i> ติดตาม</button>
        </div>
        
        <div class="bg">
          <img src="/img/Splash_Banner.jpg" alt="">
          <img src="/img/bg-02.jpg" alt="">
        </div>
      </div>

      <div class="detail-company">
        <div class="title"><h2>รายละเอียดเกี่ยวกับ ชื่อบริษัท</h2></div>

        <div class="ck">
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
            Cum possimus facere dolorum minima aliquam molestias adipisci error, 
            eos autem voluptatum dolores eum quidem. 
            Vero, corrupti harum! Magnam eligendi omnis nostrum?
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
            Cum possimus facere dolorum minima aliquam molestias adipisci error, 
            eos autem voluptatum dolores eum quidem. 
          </p>
          <p>Email : mail.6@mail.com</p>
          <p>Tel : 0123456789 , 0123456789</p>
        </div>
      </div>

      <div class="detail-company">
        <div class="title"><h2>สวัสดิการ</h2></div>

        <div class="ck">
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
            Cum possimus facere dolorum minima aliquam molestias adipisci error, 
            eos autem voluptatum dolores eum quidem. 
            Vero, corrupti harum! Magnam eligendi omnis nostrum?
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
            Cum possimus facere dolorum minima aliquam molestias adipisci error, 
            eos autem voluptatum dolores eum quidem. 
          </p>
        </div>
      </div>

      <div class="job-table">
        <div class="title"><h2>5 Job Opening</h2></div>

        <div class="grid-job">
          <a href="">
            <div class="box">
              <figure>
                <img src="/img/brand/coke-logo.png" alt="">
                <div class="box-hover">
                  <div class="fav"><span><i class="far fa-heart"></i> favorisiert</span></div>
                  <div class="detail"><span><i class="fas fa-scroll"></i> รายละเอียด</span></div>
                </div>
              </figure>
      
              <div class="detail">
                <div class="name"><h4>Manager Production</h4></div>
                <div class="company"><span>The Coca-Cola Company</span></div>
                <div class="address"><i class="fas fa-map-marker-alt"></i><span>Los Angeles, CA, USA</span></div>
                <div class="salary"><i class="fas fa-coins"></i><span>$3,000 - $5,000</span></div>
                <div class="tag">
                  <div class="type"><span>ตามสัญญา</span></div>
                  <div class="assis"><span>Relocation assistance</span></div>
                  <div class="wfh"><span>Work From Home</span></div>
                  <div class="urgent"><span>Urgent</span></div>
                </div>
              </div>
            </div>
          </a>

          <a href="">
            <div class="box">
              <figure>
                <img src="/img/brand/pizza-logo.png" alt="">
                <div class="box-hover">
                  <div class="fav"><span><i class="far fa-heart"></i> favorisiert</span></div>
                  <div class="detail"><span><i class="fas fa-scroll"></i> รายละเอียด</span></div>
                </div>
              </figure>
      
              <div class="detail">
                <div class="name"><h4>Manager Packeting</h4></div>
                <div class="company"><span>The Coca-Cola Company</span></div>
                <div class="address"><i class="fas fa-map-marker-alt"></i><span>Los Angeles, CA, USA</span></div>
                <div class="salary"><i class="fas fa-coins"></i><span>$3,000 - $5,000</span></div>
                <div class="tag">
                  <div class="type"><span>ประจำ</span></div>
                  <div class="wfh"><span>Work From Home</span></div>
                </div>
              </div>
            </div>
          </a>
    
          <a href="">
            <div class="box">
              <figure>
                <img src="/img/brand/logomakro_v2.png" alt="">
                <div class="box-hover">
                  <div class="fav"><span><i class="far fa-heart"></i> favorisiert</span></div>
                  <div class="detail"><span><i class="fas fa-scroll"></i> รายละเอียด</span></div>
                </div>
              </figure>
      
              <div class="detail">
                <div class="name"><h4>Engineer</h4></div>
                <div class="company"><span>The Coca-Cola Company</span></div>
                <div class="address"><i class="fas fa-map-marker-alt"></i><span>Los Angeles, CA, USA</span></div>
                <div class="salary"><i class="fas fa-coins"></i><span>$3,000 - $5,000</span></div>
                <div class="tag">
                  <div class="type"><span>ประจำ</span></div>
                </div>
              </div>
            </div>
          </a>
    
          <a href="">
            <div class="box">
              <figure>
                <img src="/img/brand/coke-logo.png" alt="">
                <div class="box-hover">
                  <div class="fav"><span><i class="far fa-heart"></i> favorisiert</span></div>
                  <div class="detail"><span><i class="fas fa-scroll"></i> รายละเอียด</span></div>
                </div>
              </figure>
      
              <div class="detail">
                <div class="name"><h4>Manager Production</h4></div>
                <div class="company"><span>The Coca-Cola Company</span></div>
                <div class="address"><i class="fas fa-map-marker-alt"></i><span>Los Angeles, CA, USA</span></div>
                <div class="salary"><i class="fas fa-coins"></i><span>$3,000 - $5,000</span></div>
                <div class="tag">
                  <div class="type"><span>ตามสัญญา</span></div>
                  <div class="assis"><span>Relocation assistance</span></div>
                  <div class="wfh"><span>Work From Home</span></div>
                </div>
              </div>
            </div>
          </a>

          <a href="">
            <div class="box">
              <figure>
                <img src="/img/brand/CIG_logo.png" alt="">
                <div class="box-hover">
                  <div class="fav"><span><i class="far fa-heart"></i> favorisiert</span></div>
                  <div class="detail"><span><i class="fas fa-scroll"></i> รายละเอียด</span></div>
                </div>
              </figure>
      
              <div class="detail">
                <div class="name"><h4>Manager Packeting</h4></div>
                <div class="company"><span>The Coca-Cola Company</span></div>
                <div class="address"><i class="fas fa-map-marker-alt"></i><span>Los Angeles, CA, USA</span></div>
                <div class="salary"><i class="fas fa-coins"></i><span>$3,000 - $5,000</span></div>
                <div class="tag">
                  <div class="type"><span>ประจำ</span></div>
                  <div class="wfh"><span>Work From Home</span></div>
                  <div class="urgent"><span>Urgent</span></div>
                </div>
              </div>
            </div>
          </a>
    
          <a href="">
            <div class="box">
              <figure>
                <img src="/img/brand/NRS_Logo.png" alt="">
                <div class="box-hover">
                  <div class="fav"><span><i class="far fa-heart"></i> favorisiert</span></div>
                  <div class="detail"><span><i class="fas fa-scroll"></i> รายละเอียด</span></div>
                </div>
              </figure>
      
              <div class="detail">
                <div class="name"><h4>Engineer</h4></div>
                <div class="company"><span>The Coca-Cola Company</span></div>
                <div class="address"><i class="fas fa-map-marker-alt"></i><span>Los Angeles, CA, USA</span></div>
                <div class="salary"><i class="fas fa-coins"></i><span>$3,000 - $5,000</span></div>
                <div class="tag">
                  <div class="type"><span>ประจำ</span></div>
                  <div class="urgent"><span>Urgent</span></div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3826.8824552833003!2d102.8351885152913!3d16.430795134009845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31228b2b6d7ae4ad%3A0x55450ddb7d44932b!2z4LiL4Li14LiL4Liy4Lij4LmM!5e0!3m2!1sth!2sth!4v1609143564646!5m2!1sth!2sth" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
    </div>
  </main>
  
  <footer>
    <div class="footer">
      <div class="logo">
        <img src="/img/logo/Logowhite-07.svg" alt="">
      </div>

      <div class="about">
        <h5>About Us</h5>
        <div class="address">
          <p>Wynnsoff Solution Co., Ltd. (Headquarters)</p>
          <p>120/34-35 Village no.24, Meuang, Khonkaen 40000</p>
          <p>Tax ID numbers 0123456789123</p>
        </div>
      </div>

      <div class="contact">
        <h5>Contact</h5>
        <p>Office hours : Monday - Saturday 08.30 am - 5.00 pm.</p>
        <p>Advertising : wynnsoft20151@gmail.com</p>
        <p>Phone number: 043-002-300, 062-909-1110 (Marketing)</p>
      </div>

      <div class="social">
        <h5>Social Networks</h5>
        <div class="list">
          <a href=""><div class="facebook"><i class="fab fa-facebook-square"></i><span>Like us on Facebook</span></div></a>
          <a href=""><div class="twitter"><i class="fab fa-twitter-square"></i><span>Follow us on Twitter</span></div></a>
          <a href=""><div class="instagram"><i class="fab fa-instagram"></i><span>Follow us on Instagram</span></div></a>
        </div>
      </div>
    </div>

    <div class="copyright">
      <div class="copyright-text">
        <p>
          CopyRight &copy; 2020 <a href="">Wynnsoff Solution Co., Ltd.</a>
        </p>
        <a href="">Terms of service</a>
        <a href="">Privacy policy</a>
      </div>
    </div>
  </footer>
  
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="/js/home.js"></script>
</body>
</html>