<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Job Solution</title>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;600;700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/37e3c13129.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/css/job.min.css">
</head>
<body>
  <header>
    <div class="header">
      <div class="left"><a href="">JOB SOLUTION</a></div>
      <div class="right">
        <ul class="menu">
          <a href="">
            <li><i class="far fa-building"></i> บริษัททั้งหมด</li>
          </a>
          <a href="">
            <li><i class="fas fa-home"></i> เกี่ยวกับเรา</li>
          </a>
          <a href="">
            <li><i class="fas fa-id-card"></i> ฝากประวัติ</li>
          </a>
          <a href="">
            <li><i class="fas fa-edit"></i> สมัครสมาชิก</li>
          </a>
          <a href="">
            <li><i class="fas fa-sign-in-alt"></i> เข้าสู่ระบบ</li>
          </a>
          <a href="">
            <li><i class="fas fa-globe"></i> TH</li>
          </a>
        </ul>
        <div class="company"><button class="form-component button">สำหรับบริษัท</button></div>
        <div class="other">
          <i class="fas fa-ellipsis-v"></i>
          <ul>
            <a href=""><li></li></a>
            <a href=""><li></li></a>
            <a href=""><li></li></a>
            <a href=""><li></li></a>
          </ul>
        </div>
      </div>
    </div>
  </header>
</body>
</html>