<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="noindex, nofollow">
  <title>BestJobKH.com</title>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;600;700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/37e3c13129.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

  <link rel="stylesheet" href="/css/job.min.css">
  <link rel="stylesheet" href="/css/home.min.css?v=1.1.1.3">
</head>
<body>
  <header>
    <div class="header loging">
      <div class="left"><a href=""><img src="/img/logo/Logowhite-07.svg" alt=""></a></div>
      <div class="right">
        <ul class="menu">
          <a href="">
            <li><i class="far fa-building"></i> บริษัททั้งหมด</li>
          </a>
          <a href="">
            <li><i class="fas fa-home"></i> เกี่ยวกับเรา</li>
          </a>
          <a href="">
            <li><i class="fas fa-id-card"></i> ฝากประวัติ</li>
          </a>
          <a href="">
            <li><i class="fas fa-edit"></i> สมัครสมาชิก</li>
          </a>
          <a href="">
            <li><i class="fas fa-sign-in-alt"></i> เข้าสู่ระบบ</li>
          </a>
          <li class="account">
            <i class="far fa-user"></i> บัญขีของฉัน

            <ul>
              <a href=""><li><i class="far fa-newspaper"></i> ประวัติของฉัน</li></a>
              <a href=""><li><i class="fas fa-sign-out-alt"></i> ออกจากระบบ</li></a>
            </ul>
          </li>

          
          <li><i class="fas fa-globe"></i> TH</li>
        </ul>
        <div class="company"><button class="form-component button">สำหรับบริษัท</button></div>
        <div class="other">
          <i class="fas fa-ellipsis-v" onclick="swip_menu(this)"></i>
          <ul>
            <a href=""><li><i class="far fa-newspaper"></i> บทความ</li></a>
            <a href=""><li><i class="fas fa-mobile-alt"></i> ติดต่อเรา</li></a>
            <a href=""><li><i class="fas fa-gavel"></i> เงื่อนไขการใช้บริการ</li></a>
            <a href=""><li><i class="fas fa-fingerprint"></i> นโยบายความเป็นส่วนตัว</li></a>
            <a href=""><li><i class="fas fa-exclamation-triangle"></i> ข้อจำกัดความรับผิดชอบ</li></a>
          </ul>
        </div>
        <div class="lang">
          <li><i class="fas fa-globe"></i> TH</li>
          <li><i class="fas fa-globe"></i> EN</li>
          <li><i class="fas fa-globe"></i> KH</li>
        </div>
      </div>
    </div>
  </header>

  <main>
    <div class="head-title">
      <h1>บริษัทชั้นนำ</h1>
      <p>รวมบริษัทชั้นนำมากมายไว้ที่นี่</p>
    </div>
  
    <div class="slide-home">
      <div class="slide swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="">
              <div class="box">
                <figure><img src="/img/mock1/job-CP.jpg" alt=""></figure>
                <div class="detail">
                  <div class="logo"><img src="/img/mock1/cp-logo.png" alt=""></div>
                  <div class="name-address">
                    <div class="name"><h3>Charoen Pokphand Foods Public Company Limited</h3></div>
                    <div class="address"><i class="fas fa-map-marker-alt"></i><span>Bangrak</span></div>
                    <div class="job"><i class="fas fa-briefcase"></i><span>1 JOB OPEN</span></div>
                  </div>
                </div>
              </div>
            </a>
          </div>
  
          <div class="swiper-slide">
            <a href="">
              <div class="box">
                <figure><img src="/img/mock1/job-DHL.jpg" alt=""></figure>
                <div class="detail">
                  <div class="logo"><img src="/img/mock1/dhl-1-logo.png" alt=""></div>
                  <div class="name-address">
                    <div class="name"><h3>dhl express</h3></div>
                    <div class="address"><i class="fas fa-map-marker-alt"></i><span>bangkok</span></div>
                    <div class="job"><i class="fas fa-briefcase"></i><span>6 JOB OPEN</span></div>
                  </div>
                </div>
              </div>
            </a>
          </div>

          <div class="swiper-slide">
            <a href="">
              <div class="box">
                <figure><img src="/img/mock1/job-CP.jpg" alt=""></figure>
                <div class="detail">
                  <div class="logo"><img src="/img/mock1/cp-logo.png" alt=""></div>
                  <div class="name-address">
                    <div class="name"><h3>Charoen Pokphand Foods Public Company Limited</h3></div>
                    <div class="address"><i class="fas fa-map-marker-alt"></i><span>Bangrak</span></div>
                    <div class="job"><i class="fas fa-briefcase"></i><span>1 JOB OPEN</span></div>
                  </div>
                </div>
              </div>
            </a>
          </div>
  
          <div class="swiper-slide">
            <a href="">
              <div class="box">
                <figure><img src="/img/mock1/job-DHL.jpg" alt=""></figure>
                <div class="detail">
                  <div class="logo"><img src="/img/mock1/dhl-1-logo.png" alt=""></div>
                  <div class="name-address">
                    <div class="name"><h3>dhl express</h3></div>
                    <div class="address"><i class="fas fa-map-marker-alt"></i><span>bangkok</span></div>
                    <div class="job"><i class="fas fa-briefcase"></i><span>6 JOB OPEN</span></div>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <!-- Add Arrows -->
        <!-- <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div> -->
      </div>
    </div>

    <div class="tag-head">
      <div class="title">
        <h3>งานทั้งหมด 5,230 อัตรา</h3>
      </div>

      <div class="tag">
        <div class="box"><a href=""><span>ภาคตะวันออก </span><span>1,200</span></a></div>
        <div class="box"><a href=""><span>ภาคกลาง </span><span>500</span></a></div>
        <div class="box"><a href=""><span>ภาคใต้ </span><span>500</span></a></div>
        <div class="box"><a href=""><span>Work From Home </span><span>123</span></a></div>
        <div class="box all"><a href=""><span>ดูทั้งหมด </span></a></div>
      </div>
    </div>

    <div class="box-img-vip">
      <div class="slide-vip swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><figure><img src="/img/ads/1.jpg" alt=""></figure></div>
          <div class="swiper-slide"><figure><img src="/img/ads/2.jpg" alt=""></figure></div>
          <div class="swiper-slide"><figure><img src="/img/ads/3.jpg" alt=""></figure></div>
          <div class="swiper-slide"><figure><img src="/img/ads/4.jpg" alt=""></figure></div>
          <div class="swiper-slide"><figure><img src="/img/ads/5.jpg" alt=""></figure></div>
          <div class="swiper-slide"><figure><img src="/img/ads/6.jpg" alt=""></figure></div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
      </div>
    </div>
  
    <div class="urgent-job">
      <div class="title">
        <h3>งานด่วนพิเศษ 30 อัตรา</h3>
        <div class="pagination">
          <span>หน้า 1/15</span>
          <div class="arrow">
            <div class="prev disable"><i class="fas fa-caret-left"></i></div>
            <div class="next"><i class="fas fa-caret-right"></i></div>
          </div>
          <div class="see-more">
            <a href=""><button class="form-component button">ทั้งหมด</button></a>
          </div>
        </div>
      </div>

      <div class="grid-box">
        <a href="">
          <div class="box">
            <figure>
              <img src="/img/brand/coke-logo.png" alt="">
              <div class="box-hover">
                <div class="fav"><span><i class="far fa-heart"></i> favorisiert</span></div>
                <div class="detail"><span><i class="fas fa-scroll"></i> รายละเอียด</span></div>
              </div>
            </figure>
    
            <div class="detail">
              <div class="name"><h4>Manager Production</h4></div>
              <div class="company"><span>The Coca-Cola Company</span></div>
              <div class="address"><i class="fas fa-map-marker-alt"></i><span>Los Angeles, CA, USA</span></div>
              <div class="salary"><i class="fas fa-coins"></i><span>$3,000 - $5,000</span></div>
              <div class="tag">
                <div class="type"><span>ตามสัญญา</span></div>
                <div class="assis"><span>Relocation assistance</span></div>
                <div class="wfh"><span>Work From Home</span></div>
                <div class="urgent"><span>Urgent</span></div>
              </div>
            </div>
          </div>
        </a>
  
        <a href="">
          <div class="box">
            <figure>
              <img src="/img/brand/coke-logo.png" alt="">
              <div class="box-hover">
                <div class="fav"><span><i class="far fa-heart"></i> favorisiert</span></div>
                <div class="detail"><span><i class="fas fa-scroll"></i> รายละเอียด</span></div>
              </div>
            </figure>
    
            <div class="detail">
              <div class="name"><h4>Manager Packeting</h4></div>
              <div class="company"><span>The Coca-Cola Company</span></div>
              <div class="address"><i class="fas fa-map-marker-alt"></i><span>Los Angeles, CA, USA</span></div>
              <div class="salary"><i class="fas fa-coins"></i><span>$3,000 - $5,000</span></div>
              <div class="tag">
                <div class="type"><span>ประจำ</span></div>
                <div class="wfh"><span>Work From Home</span></div>
                <div class="urgent"><span>Urgent</span></div>
              </div>
            </div>
          </div>
        </a>
  
        <a href="">
          <div class="box">
            <figure>
              <img src="/img/brand/logomakro_v2.png" alt="">
              <div class="box-hover">
                <div class="fav"><span><i class="far fa-heart"></i> favorisiert</span></div>
                <div class="detail"><span><i class="fas fa-scroll"></i> รายละเอียด</span></div>
              </div>
            </figure>
    
            <div class="detail">
              <div class="name"><h4>Engineer</h4></div>
              <div class="company"><span>The Coca-Cola Company</span></div>
              <div class="address"><i class="fas fa-map-marker-alt"></i><span>Los Angeles, CA, USA</span></div>
              <div class="salary"><i class="fas fa-coins"></i><span>$3,000 - $5,000</span></div>
              <div class="tag">
                <div class="type"><span>ประจำ</span></div>
                <div class="urgent"><span>Urgent</span></div>
              </div>
            </div>
          </div>
        </a>
  
        <a href="">
          <div class="box">
            <figure>
              <img src="/img/brand/coke-logo.png" alt="">
              <div class="box-hover">
                <div class="fav"><span><i class="far fa-heart"></i> favorisiert</span></div>
                <div class="detail"><span><i class="fas fa-scroll"></i> รายละเอียด</span></div>
              </div>
            </figure>
    
            <div class="detail">
              <div class="name"><h4>Manager Production</h4></div>
              <div class="company"><span>The Coca-Cola Company</span></div>
              <div class="address"><i class="fas fa-map-marker-alt"></i><span>Los Angeles, CA, USA</span></div>
              <div class="salary"><i class="fas fa-coins"></i><span>$3,000 - $5,000</span></div>
              <div class="tag">
                <div class="type"><span>ตามสัญญา</span></div>
                <div class="assis"><span>Relocation assistance</span></div>
                <div class="wfh"><span>Work From Home</span></div>
                <div class="urgent"><span>Urgent</span></div>
              </div>
            </div>
          </div>
        </a>
  
        <a href="">
          <div class="box">
            <figure>
              <img src="/img/brand/coke-logo.png" alt="">
              <div class="box-hover">
                <div class="fav"><span><i class="far fa-heart"></i> favorisiert</span></div>
                <div class="detail"><span><i class="fas fa-scroll"></i> รายละเอียด</span></div>
              </div>
            </figure>
    
            <div class="detail">
              <div class="name"><h4>Manager Packeting</h4></div>
              <div class="company"><span>The Coca-Cola Company</span></div>
              <div class="address"><i class="fas fa-map-marker-alt"></i><span>Los Angeles, CA, USA</span></div>
              <div class="salary"><i class="fas fa-coins"></i><span>$3,000 - $5,000</span></div>
              <div class="tag">
                <div class="type"><span>ประจำ</span></div>
                <div class="wfh"><span>Work From Home</span></div>
                <div class="urgent"><span>Urgent</span></div>
              </div>
            </div>
          </div>
        </a>
  
        <a href="">
          <div class="box">
            <figure>
              <img src="/img/brand/logomakro_v2.png" alt="">
              <div class="box-hover">
                <div class="fav"><span><i class="far fa-heart"></i> favorisiert</span></div>
                <div class="detail"><span><i class="fas fa-scroll"></i> รายละเอียด</span></div>
              </div>
            </figure>
    
            <div class="detail">
              <div class="name"><h4>Engineer</h4></div>
              <div class="company"><span>The Coca-Cola Company</span></div>
              <div class="address"><i class="fas fa-map-marker-alt"></i><span>Los Angeles, CA, USA</span></div>
              <div class="salary"><i class="fas fa-coins"></i><span>$3,000 - $5,000</span></div>
              <div class="tag">
                <div class="type"><span>ประจำ</span></div>
                <div class="urgent"><span>Urgent</span></div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="box-img-vip">
      <div class="slide-vip swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><figure><img src="/img/ads/1.jpg" alt=""></figure></div>
          <div class="swiper-slide"><figure><img src="/img/ads/2.jpg" alt=""></figure></div>
          <div class="swiper-slide"><figure><img src="/img/ads/3.jpg" alt=""></figure></div>
          <div class="swiper-slide"><figure><img src="/img/ads/4.jpg" alt=""></figure></div>
          <div class="swiper-slide"><figure><img src="/img/ads/5.jpg" alt=""></figure></div>
          <div class="swiper-slide"><figure><img src="/img/ads/6.jpg" alt=""></figure></div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
      </div>
    </div>
  
    <div class="search-box">
      <div class="box">
        <h2>ค้นหางานที่ต้องการ</h2>
  
        <div class="form">
          <div class="input"><input type="text" class="form-component input" placeholder="ระบุตำแหน่ง หรือ ชื่อบริษัท"></div>
          <div class="input-box">
            <label for="">สถานที่ปฏิบัติงาน</label>
            <select name="" id="" class="form-component select">
              <option value="">กรุงเทพ</option>
              <option value="">กรุงเทพ</option>
              <option value="">กรุงเทพ</option>
            </select>
          </div>
          <div class="input-box">
            <label for="">ประเภทงาน</label>
            <select name="" id="" class="form-component select">
              <option value="">ออกแบบ</option>
              <option value="">ออกแบบ</option>
              <option value="">ออกแบบ</option>
            </select>
          </div>
          <div class="input-box">
            <label for="">ระยะเวลาการทำงาน</label>
            <select name="" id="" class="form-component select">
              <option value="">ตามสัญญา</option>
              <option value="">ประจำ</option>
            </select>
          </div>
          <div class="input-box">
            <label for="">เงินเดือน</label>
            <select name="" id="" class="form-component select">
              <option value="">ทั้งหมด</option>
              <option value="">10,000 up</option>
              <option value="">100,000 up</option>
            </select>
          </div>
          <div class="check-group">
            <div class="checkbox">
              <input type="checkbox" id="wfh">
              <label for="wfh">Work From Home</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" id="relocate">
              <label for="relocate">Relocation Assistance</label>
            </div>
            <div class="checkbox">
              <input type="checkbox" id="newbie">
              <label for="newbie">นักศึกษาจบใหม่</label>
            </div>
            <div class="button"><button class="form-component button">ค้นหา</button></div>
          </div>
        </div>
      </div>
    </div>

    <div class="box-img-vip">
      <div class="slide-vip swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><figure><img src="/img/ads/1.jpg" alt=""></figure></div>
          <div class="swiper-slide"><figure><img src="/img/ads/2.jpg" alt=""></figure></div>
          <div class="swiper-slide"><figure><img src="/img/ads/3.jpg" alt=""></figure></div>
          <div class="swiper-slide"><figure><img src="/img/ads/4.jpg" alt=""></figure></div>
          <div class="swiper-slide"><figure><img src="/img/ads/5.jpg" alt=""></figure></div>
          <div class="swiper-slide"><figure><img src="/img/ads/6.jpg" alt=""></figure></div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
      </div>
    </div>
  
    <div class="grid-job">
      <div class="title">
        <h3>งานทั้งหมด 3,000 อัตรา</h3>
        <div class="pagination">
          <span>หน้า 1/15</span>
          <div class="arrow">
            <div class="prev disable"><i class="fas fa-caret-left"></i></div>
            <div class="next"><i class="fas fa-caret-right"></i></div>
          </div>
          <div class="see-more">
            <a href=""><button class="form-component button">ทั้งหมด</button></a>
          </div>
        </div>
      </div>
  
      <div class="grid-box">
        <a href="">
          <div class="box">
            <figure>
              <img src="/img/brand/coke-logo.png" alt="">
              <div class="box-hover">
                <div class="fav"><span><i class="far fa-heart"></i> favorisiert</span></div>
                <div class="detail"><span><i class="fas fa-scroll"></i> รายละเอียด</span></div>
              </div>
            </figure>
    
            <div class="detail">
              <div class="name"><h4>Manager Production</h4></div>
              <div class="company"><span>The Coca-Cola Company</span></div>
              <div class="address"><i class="fas fa-map-marker-alt"></i><span>Los Angeles, CA, USA</span></div>
              <div class="salary"><i class="fas fa-coins"></i><span>$3,000 - $5,000</span></div>
              <div class="tag">
                <div class="type"><span>ตามสัญญา</span></div>
                <div class="assis"><span>Relocation assistance</span></div>
                <div class="wfh"><span>Work From Home</span></div>
                <div class="urgent"><span>Urgent</span></div>
              </div>
            </div>
          </div>
        </a>
  
        <a href="">
          <div class="box">
            <figure>
              <img src="/img/brand/pizza-logo.png" alt="">
              <div class="box-hover">
                <div class="fav"><span><i class="far fa-heart"></i> favorisiert</span></div>
                <div class="detail"><span><i class="fas fa-scroll"></i> รายละเอียด</span></div>
              </div>
            </figure>
    
            <div class="detail">
              <div class="name"><h4>Manager Packeting</h4></div>
              <div class="company"><span>The Coca-Cola Company</span></div>
              <div class="address"><i class="fas fa-map-marker-alt"></i><span>Los Angeles, CA, USA</span></div>
              <div class="salary"><i class="fas fa-coins"></i><span>$3,000 - $5,000</span></div>
              <div class="tag">
                <div class="type"><span>ประจำ</span></div>
                <div class="wfh"><span>Work From Home</span></div>
              </div>
            </div>
          </div>
        </a>
  
        <a href="">
          <div class="box">
            <figure>
              <img src="/img/brand/logomakro_v2.png" alt="">
              <div class="box-hover">
                <div class="fav"><span><i class="far fa-heart"></i> favorisiert</span></div>
                <div class="detail"><span><i class="fas fa-scroll"></i> รายละเอียด</span></div>
              </div>
            </figure>
    
            <div class="detail">
              <div class="name"><h4>Engineer</h4></div>
              <div class="company"><span>The Coca-Cola Company</span></div>
              <div class="address"><i class="fas fa-map-marker-alt"></i><span>Los Angeles, CA, USA</span></div>
              <div class="salary"><i class="fas fa-coins"></i><span>$3,000 - $5,000</span></div>
              <div class="tag">
                <div class="type"><span>ประจำ</span></div>
              </div>
            </div>
          </div>
        </a>
  
        <a href="">
          <div class="box">
            <figure>
              <img src="/img/brand/coke-logo.png" alt="">
              <div class="box-hover">
                <div class="fav"><span><i class="far fa-heart"></i> favorisiert</span></div>
                <div class="detail"><span><i class="fas fa-scroll"></i> รายละเอียด</span></div>
              </div>
            </figure>
    
            <div class="detail">
              <div class="name"><h4>Manager Production</h4></div>
              <div class="company"><span>The Coca-Cola Company</span></div>
              <div class="address"><i class="fas fa-map-marker-alt"></i><span>Los Angeles, CA, USA</span></div>
              <div class="salary"><i class="fas fa-coins"></i><span>$3,000 - $5,000</span></div>
              <div class="tag">
                <div class="type"><span>ตามสัญญา</span></div>
                <div class="assis"><span>Relocation assistance</span></div>
                <div class="wfh"><span>Work From Home</span></div>
              </div>
            </div>
          </div>
        </a>
  
        <a href="">
          <div class="box">
            <figure>
              <img src="/img/brand/CIG_logo.png" alt="">
              <div class="box-hover">
                <div class="fav"><span><i class="far fa-heart"></i> favorisiert</span></div>
                <div class="detail"><span><i class="fas fa-scroll"></i> รายละเอียด</span></div>
              </div>
            </figure>
    
            <div class="detail">
              <div class="name"><h4>Manager Packeting</h4></div>
              <div class="company"><span>The Coca-Cola Company</span></div>
              <div class="address"><i class="fas fa-map-marker-alt"></i><span>Los Angeles, CA, USA</span></div>
              <div class="salary"><i class="fas fa-coins"></i><span>$3,000 - $5,000</span></div>
              <div class="tag">
                <div class="type"><span>ประจำ</span></div>
                <div class="wfh"><span>Work From Home</span></div>
                <div class="urgent"><span>Urgent</span></div>
              </div>
            </div>
          </div>
        </a>
  
        <a href="">
          <div class="box">
            <figure>
              <img src="/img/brand/NRS_Logo.png" alt="">
              <div class="box-hover">
                <div class="fav"><span><i class="far fa-heart"></i> favorisiert</span></div>
                <div class="detail"><span><i class="fas fa-scroll"></i> รายละเอียด</span></div>
              </div>
            </figure>
    
            <div class="detail">
              <div class="name"><h4>Engineer</h4></div>
              <div class="company"><span>The Coca-Cola Company</span></div>
              <div class="address"><i class="fas fa-map-marker-alt"></i><span>Los Angeles, CA, USA</span></div>
              <div class="salary"><i class="fas fa-coins"></i><span>$3,000 - $5,000</span></div>
              <div class="tag">
                <div class="type"><span>ประจำ</span></div>
                <div class="urgent"><span>Urgent</span></div>
              </div>
            </div>
          </div>
        </a>
  
        <a href="">
          <div class="box">
            <figure>
              <img src="/img/brand/digic_logo_square.png" alt="">
              <div class="box-hover">
                <div class="fav"><span><i class="far fa-heart"></i> favorisiert</span></div>
                <div class="detail"><span><i class="fas fa-scroll"></i> รายละเอียด</span></div>
              </div>
            </figure>
    
            <div class="detail">
              <div class="name"><h4>Manager Production</h4></div>
              <div class="company"><span>The Coca-Cola Company</span></div>
              <div class="address"><i class="fas fa-map-marker-alt"></i><span>Los Angeles, CA, USA</span></div>
              <div class="salary"><i class="fas fa-coins"></i><span>$3,000 - $5,000</span></div>
              <div class="tag">
                <div class="type"><span>ตามสัญญา</span></div>
              </div>
            </div>
          </div>
        </a>
  
        <a href="">
          <div class="box">
            <figure>
              <img src="/img/brand/pizza-logo.png" alt="">
              <div class="box-hover">
                <div class="fav"><span><i class="far fa-heart"></i> favorisiert</span></div>
                <div class="detail"><span><i class="fas fa-scroll"></i> รายละเอียด</span></div>
              </div>
            </figure>
    
            <div class="detail">
              <div class="name"><h4>Manager Packeting</h4></div>
              <div class="company"><span>The Coca-Cola Company</span></div>
              <div class="address"><i class="fas fa-map-marker-alt"></i><span>Los Angeles, CA, USA</span></div>
              <div class="salary"><i class="fas fa-coins"></i><span>$3,000 - $5,000</span></div>
              <div class="tag">
                <div class="type"><span>ประจำ</span></div>
                <div class="wfh"><span>Work From Home</span></div>
              </div>
            </div>
          </div>
        </a>
  
        <a href="">
          <div class="box">
            <figure>
              <img src="/img/brand/logomakro_v2.png" alt="">
              <div class="box-hover">
                <div class="fav"><span><i class="far fa-heart"></i> favorisiert</span></div>
                <div class="detail"><span><i class="fas fa-scroll"></i> รายละเอียด</span></div>
              </div>
            </figure>
    
            <div class="detail">
              <div class="name"><h4>Engineer</h4></div>
              <div class="company"><span>The Coca-Cola Company</span></div>
              <div class="address"><i class="fas fa-map-marker-alt"></i><span>Los Angeles, CA, USA</span></div>
              <div class="salary"><i class="fas fa-coins"></i><span>$3,000 - $5,000</span></div>
              <div class="tag">
                <div class="type"><span>ประจำ</span></div>
              </div>
            </div>
          </div>
        </a>
  
        <a href="">
          <div class="box">
            <figure>
              <img src="/img/brand/digic_logo_square.png" alt="">
              <div class="box-hover">
                <div class="fav"><span><i class="far fa-heart"></i> favorisiert</span></div>
                <div class="detail"><span><i class="fas fa-scroll"></i> รายละเอียด</span></div>
              </div>
            </figure>
    
            <div class="detail">
              <div class="name"><h4>Manager Production</h4></div>
              <div class="company"><span>The Coca-Cola Company</span></div>
              <div class="address"><i class="fas fa-map-marker-alt"></i><span>Los Angeles, CA, USA</span></div>
              <div class="salary"><i class="fas fa-coins"></i><span>$3,000 - $5,000</span></div>
              <div class="tag">
                <div class="type"><span>ตามสัญญา</span></div>
                <div class="assis"><span>Relocation assistance</span></div>
                <div class="wfh"><span>Work From Home</span></div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div class="box-img-vip">
      <div class="slide-vip swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide"><figure><img src="/img/ads/1.jpg" alt=""></figure></div>
          <div class="swiper-slide"><figure><img src="/img/ads/2.jpg" alt=""></figure></div>
          <div class="swiper-slide"><figure><img src="/img/ads/3.jpg" alt=""></figure></div>
          <div class="swiper-slide"><figure><img src="/img/ads/4.jpg" alt=""></figure></div>
          <div class="swiper-slide"><figure><img src="/img/ads/5.jpg" alt=""></figure></div>
          <div class="swiper-slide"><figure><img src="/img/ads/6.jpg" alt=""></figure></div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
      </div>
    </div>
  
    <div class="article">
      <h2>บทความน่าสนใจ</h2>
  
      <div class="grid-box">
        <a href="">
          <div class="box">
            <img src="/img/article1.png" alt="">
            <div class="detail">
              <div class="name"><p>Lorem pasticle dolor</p></div>
              <div class="date-article">
                <div class="date"><span>2020/11/28</span></div>
                <div class="artic"><span>น้องอีฟคนสวย</span></div>
              </div>
            </div>
          </div>
        </a>
        
        <a href="">
          <div class="box">
            <img src="/img/article1.png" alt="">
            <div class="detail">
              <div class="name"><p>Lorem pasticle dolor</p></div>
              <div class="date-article">
                <div class="date"><span>2020/11/28</span></div>
                <div class="artic"><span>น้องอีฟคนสวย</span></div>
              </div>
            </div>
          </div>
        </a>
  
        <a href="">
          <div class="box">
            <img src="/img/article1.png" alt="">
            <div class="detail">
              <div class="name"><p>Lorem pasticle dolor so big hand and Head is small</p></div>
              <div class="date-article">
                <div class="date"><span>2020/11/28</span></div>
                <div class="artic"><span>น้องอีฟคนสวย</span></div>
              </div>
            </div>
          </div>
        </a>
  
        <a href="">
          <div class="box">
            <img src="/img/article2.png" alt="">
            <div class="detail">
              <div class="name"><p>Lorem pasticle dolor</p></div>
              <div class="date-article">
                <div class="date"><span>2020/11/28</span></div>
                <div class="artic"><span>น้องอีฟคนสวย</span></div>
              </div>
            </div>
          </div>
        </a>
  
        <a href="">
          <div class="box">
            <img src="/img/article2.png" alt="">
            <div class="detail">
              <div class="name"><p>Lorem pasticle dolor</p></div>
              <div class="date-article">
                <div class="date"><span>2020/11/28</span></div>
                <div class="artic"><span>น้องอีฟคนสวย</span></div>
              </div>
            </div>
          </div>
        </a>
  
        <a href="">
          <div class="box">
            <img src="/img/article2.png" alt="">
            <div class="detail">
              <div class="name"><p>Lorem pasticle dolor</p></div>
              <div class="date-article">
                <div class="date"><span>2020/11/28</span></div>
                <div class="artic"><span>น้องอีฟคนสวย</span></div>
              </div>
            </div>
          </div>
        </a>
      </div>
  
      <div class="button"><button class="form-component button">บทความทั้งหมด</button></div>
    </div>
  </main>
  
  <footer>
    <div class="footer">
      <div class="logo">
        <img src="/img/brand/coke-logo.png" alt="">
      </div>

      <div class="about">
        <h5>เกี่ยวกับเรา</h5>
        <div class="address">
          <p>บริษัทวินซอฟโซลูชั่น จำกัด (สำนักงานใหญ่)</p>
          <p>120/34-35 Moo24 Muang Khonkaen, KhonKaen 40000</p>
          <p>เลขประจำตัวผู้เสียภาษี 0123456789</p>
        </div>
      </div>

      <div class="contact">
        <h5>ติดต่อเรา</h5>
        <p>เวลาทำการ: จันทร์-เสาร์ 8:30 - 17:30 น.</p>
        <p>ขอความช่วยเหลือ: wynnsoft20151@gmail.com</p>
        <p>ต้องการพื้นที่โฆษณา: wynnsoft20151@gmail.com</p>
        <p>เบอร์โทรศัพท์: 043-002-300, 062-909-1110 (การตลาด)</p>
      </div>

      <div class="social">
        <h5>Social Networks</h5>
        <div class="list">
          <a href=""><div class="facebook"><i class="fab fa-facebook-square"></i><span>Like us on Facebook</span></div></a>
          <a href=""><div class="twitter"><i class="fab fa-twitter-square"></i><span>Follow us on Twitter</span></div></a>
          <a href=""><div class="instagram"><i class="fab fa-instagram"></i><span>Follow us on Instagram</span></div></a>
        </div>
      </div>
    </div>

    <div class="copyright">
      <div class="copyright-text">
        <p>
          สงวนสิทธิ์ &copy; 2020 <a href="">บริษัทวินซอฟโซลูชั่น จำกัด</a>
        </p>
        <a href="">เงื่อนไขตกลงการใช้งาน</a>
        <a href="">นโยบายความเป็นส่วนตัว</a>
      </div>
    </div>
  </footer>
  
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/home.js"></script>
</body>
</html>