<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Job Solution</title>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;600;700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/37e3c13129.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

  <link rel="stylesheet" href="/css/job.min.css">
  <link rel="stylesheet" href="/css/page-normal.min.css">
</head>
<body>
  <header>
    <div class="header loging">
      <div class="left"><a href=""><img src="/img/logo/Logowhite-07.svg" alt=""></a></div>
      <div class="right">
        <ul class="menu">
          <a href="">
            <li><i class="far fa-building"></i> บริษัททั้งหมด</li>
          </a>
          <a href="">
            <li><i class="fas fa-home"></i> เกี่ยวกับเรา</li>
          </a>
          <a href="">
            <li><i class="fas fa-id-card"></i> ฝากประวัติ</li>
          </a>
          <a href="">
            <li><i class="fas fa-edit"></i> สมัครสมาชิก</li>
          </a>
          <a href="">
            <li><i class="fas fa-sign-in-alt"></i> เข้าสู่ระบบ</li>
          </a>
          <li class="account">
            <i class="far fa-user"></i> บัญขีของฉัน

            <ul>
              <a href=""><li><i class="far fa-newspaper"></i> ประวัติของฉัน</li></a>
              <a href=""><li><i class="fas fa-sign-out-alt"></i> ออกจากระบบ</li></a>
            </ul>
          </li>

          
          <li><i class="fas fa-globe"></i> TH</li>
        </ul>
        <div class="company"><button class="form-component button">สำหรับบริษัท</button></div>
        <div class="other">
          <i class="fas fa-ellipsis-v" onclick="swip_menu(this)"></i>
          <ul>
            <a href=""><li><i class="far fa-newspaper"></i> บทความ</li></a>
            <a href=""><li><i class="fas fa-mobile-alt"></i> ติดต่อเรา</li></a>
            <a href=""><li><i class="fas fa-gavel"></i> เงื่อนไขการใช้บริการ</li></a>
            <a href=""><li><i class="fas fa-fingerprint"></i> นโยบายความเป็นส่วนตัว</li></a>
            <a href=""><li><i class="fas fa-exclamation-triangle"></i> ข้อจำกัดความรับผิดชอบ</li></a>
          </ul>
        </div>
        <div class="lang">
          <li><i class="fas fa-globe"></i> TH</li>
          <li><i class="fas fa-globe"></i> EN</li>
          <li><i class="fas fa-globe"></i> KH</li>
        </div>
      </div>
    </div>
  </header>

  <main>
    <div class="job-normal">
      <div class="head-title">
        <h2>รายชื่องาน / ชื่อบริษัท / ชื่อตำแหน่ง</h2>
      </div>
    
      <div class="logo-company">
        <div class="logo"><img src="/img/brand/coke-logo.png" alt=""></div>

        <div class="company-name">
          <h1>ชื่อตำแหน่งงาน</h1>
          <a href="">Website <i class="fas fa-external-link-alt"></i></a>

          <p><i class="fas fa-map-marker-alt"></i> Mumbai / Bangalore / Mahasarakham</p>

          <div class="button">
            <a href=""><button class="form-component button"><i class="far fa-heart"></i> favoritert</button></a>
            <a href=""><button class="form-component button"><i class="fas fa-briefcase"></i> ดูงานทั้งหมดของ ชื่อบริษัท</button></a>
          </div>

          <div class="social-button">
            <a href=""><div class="facebook-button"><i class="fab fa-facebook-square"></i></div></a>
            <a href=""><div class="twitter-button"><i class="fab fa-twitter"></i></div></a>
          </div>

          <div class="apply-button">
            <button class="form-component button">สมัครงาน</button>
          </div>
        </div>
        
        
      </div>

      <div class="detail-company">
        <div class="title"><h2>รายละเอียดงาน</h2></div>

        <div class="ck">
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
            Cum possimus facere dolorum minima aliquam molestias adipisci error, 
            eos autem voluptatum dolores eum quidem. 
            Vero, corrupti harum! Magnam eligendi omnis nostrum?
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
            Cum possimus facere dolorum minima aliquam molestias adipisci error, 
            eos autem voluptatum dolores eum quidem. 
          </p>
          <p>Email : mail.6@mail.com</p>
          <p>Tel : 0123456789 , 0123456789</p>
        </div>
      </div>

      <div class="detail-company req">
        <div class="title"><h2>ทักษะและความต้องการ</h2></div>

        <div class="req-content responsibility">
          <h3>หน้าที่ความรับผิดชอบ / Responsibilities :</h3>
          <li>* Lorem ipsum dolor sit amet consectetur adipisicing elit. </li>
          <li>* Lorem ipsum dolor sit amet consectetur adipisicing elit. </li>
          <li>* Lorem ipsum dolor sit amet consectetur adipisicing elit. </li>
          <li>* Lorem ipsum dolor sit amet consectetur adipisicing elit. </li>
          <li>* Lorem ipsum dolor sit amet consectetur adipisicing elit. </li>
        </div>

        <div class="req-content skill">
          <h3>ทักษะที่จำเป็น / Required Skill :</h3>
          <li>* Lorem ipsum dolor sit amet consectetur adipisicing elit. </li>
          <li>* Lorem ipsum dolor sit amet consectetur adipisicing elit. </li>
          <li>* Lorem ipsum dolor sit amet consectetur adipisicing elit. </li>
          <li>* Lorem ipsum dolor sit amet consectetur adipisicing elit. </li>
          <li>* Lorem ipsum dolor sit amet consectetur adipisicing elit. </li>
        </div>

        <div class="req-content desired">
          <h3>ทักษะที่ต้องการ / Desired Skill :</h3>
          <li>* Lorem ipsum dolor sit amet consectetur adipisicing elit. </li>
          <li>* Lorem ipsum dolor sit amet consectetur adipisicing elit. </li>
          <li>* Lorem ipsum dolor sit amet consectetur adipisicing elit. </li>
          <li>* Lorem ipsum dolor sit amet consectetur adipisicing elit. </li>
          <li>* Lorem ipsum dolor sit amet consectetur adipisicing elit. </li>
        </div>

        <div class="req-content desired">
          <h3>สวัสดิการ / Our Perks :</h3>
          <li>* Lorem ipsum dolor sit amet consectetur adipisicing elit. </li>
          <li>* Lorem ipsum dolor sit amet consectetur adipisicing elit. </li>
          <li>* Lorem ipsum dolor sit amet consectetur adipisicing elit. </li>
          <li>* Lorem ipsum dolor sit amet consectetur adipisicing elit. </li>
          <li>* Lorem ipsum dolor sit amet consectetur adipisicing elit. </li>
        </div>
      </div>

      <div class="detail-company more-detail">
        <div class="title"><h2>ข้อมูลเพิ่มเติม</h2></div>

        <div class="detail">
          <li><i class="fas fa-plane"></i> Relocation assistance</li>
          <li><i class="fas fa-signal"></i> Work Remotely</li>
        </div>
      </div>

      <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3826.8824552833003!2d102.8351885152913!3d16.430795134009845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31228b2b6d7ae4ad%3A0x55450ddb7d44932b!2z4LiL4Li14LiL4Liy4Lij4LmM!5e0!3m2!1sth!2sth!4v1609143564646!5m2!1sth!2sth" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
    </div>
  </main>
  
  <footer>
    <div class="footer">
      <div class="logo">
        <img src="/img/brand/coke-logo.png" alt="">
      </div>

      <div class="about">
        <h5>เกี่ยวกับเรา</h5>
        <div class="address">
          <p>บริษัทวินซอฟโซลูชั่น จำกัด (สำนักงานใหญ่)</p>
          <p>120/34-35 Moo24 Muang Khonkaen, KhonKaen 40000</p>
          <p>เลขประจำตัวผู้เสียภาษี 0123456789</p>
        </div>
      </div>

      <div class="contact">
        <h5>ติดต่อเรา</h5>
        <p>เวลาทำการ: จันทร์-เสาร์ 8:30 - 17:30 น.</p>
        <p>ขอความช่วยเหลือ: wynnsoft20151@gmail.com</p>
        <p>ต้องการพื้นที่โฆษณา: wynnsoft20151@gmail.com</p>
        <p>เบอร์โทรศัพท์: 043-002-300, 062-909-1110 (การตลาด)</p>
      </div>

      <div class="social">
        <h5>Social Networks</h5>
        <div class="list">
          <a href=""><div class="facebook"><i class="fab fa-facebook-square"></i><span>Like us on Facebook</span></div></a>
          <a href=""><div class="twitter"><i class="fab fa-twitter-square"></i><span>Follow us on Twitter</span></div></a>
          <a href=""><div class="instagram"><i class="fab fa-instagram"></i><span>Follow us on Instagram</span></div></a>
        </div>
      </div>
    </div>

    <div class="copyright">
      <div class="copyright-text">
        <p>
          สงวนสิทธิ์ &copy; 2020 <a href="">บริษัทวินซอฟโซลูชั่น จำกัด</a>
        </p>
        <a href="">เงื่อนไขตกลงการใช้งาน</a>
        <a href="">นโยบายความเป็นส่วนตัว</a>
      </div>
    </div>
  </footer>
  
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="/js/app.js"></script>
  <script src="/js/home.js"></script>
</body>
</html>