<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Job Solution</title>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;600;700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/37e3c13129.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

  <link rel="stylesheet" href="/css/job.min.css">
  <link rel="stylesheet" href="/css/seo.min.css">
</head>
<body>
  <header>
    <div class="header">
      <div class="left"><a href="">JOB SOLUTION</a></div>
      <div class="right">
        <ul class="menu">
          <a href="">
            <li><i class="far fa-building"></i> บริษัททั้งหมด</li>
          </a>
          <a href="">
            <li><i class="fas fa-home"></i> เกี่ยวกับเรา</li>
          </a>
          <a href="">
            <li><i class="fas fa-id-card"></i> ฝากประวัติ</li>
          </a>
          <a href="">
            <li><i class="fas fa-edit"></i> สมัครสมาชิก</li>
          </a>
          <a href="">
            <li><i class="fas fa-sign-in-alt"></i> เข้าสู่ระบบ</li>
          </a>
          <li><i class="fas fa-globe"></i> TH</li>
        </ul>
        <div class="company"><button class="form-component button">สำหรับบริษัท</button></div>
        <div class="other">
          <i class="fas fa-ellipsis-v"></i>
          <ul>
            <a href=""><li></li></a>
            <a href=""><li></li></a>
            <a href=""><li></li></a>
            <a href=""><li></li></a>
          </ul>
        </div>
        <div class="lang">
          <li><i class="fas fa-globe"></i> TH</li>
          <li><i class="fas fa-globe"></i> EN</li>
          <li><i class="fas fa-globe"></i> KH</li>
        </div>
      </div>
    </div>
  </header>

  <main>
    <div class="seo-link">
      <section>
        <div class="title">
          <h1>หางานพนมเปญ</h1>
          <p>รายละเอียดปลีกย่อย</p>
        </div>
      </section>
  
      <section>
        <div class="cover">
          <img src="/img/test1.jpg" alt="">
        </div>
      </section>
  
      <section>
        <div class="content two">
          <div class="text-content">
            <h2>Lorem ipsum dolor sit amet</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Vitae at maxime fuga fugiat voluptas in deserunt accusantium cumque! 
              At ad reiciendis nemo architecto obcaecati ut neque voluptas voluptates accusantium quasi.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Vitae at maxime fuga fugiat voluptas in deserunt accusantium cumque! 
              At ad reiciendis nemo architecto obcaecati ut neque voluptas voluptates accusantium quasi.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Vitae at maxime fuga fugiat voluptas in deserunt accusantium cumque! 
              At ad reiciendis nemo architecto obcaecati ut neque voluptas voluptates accusantium quasi.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Vitae at maxime fuga fugiat voluptas in deserunt accusantium cumque! 
            </p>

            <h2>Lorem ipsum dolor sit amet</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Vitae at maxime fuga fugiat voluptas in deserunt accusantium cumque! 
              At ad reiciendis nemo architecto obcaecati ut neque voluptas voluptates accusantium quasi.
            </p>
          </div>
  
          <div class="image">
            <figure class="pic1"><img src="/img/test1.jpg" alt=""></figure>
          </div>
        </div>
      </section>

      <section>
        <div class="content">
          <div class="text-content">
            <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Adipisci facilis reprehenderit fuga. 
              Quos maxime, rerum praesentium quae quod incidunt quas, 
              dignissimos consequatur cupiditate magnam a fugiat nam, 
              accusamus eius unde.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Adipisci facilis reprehenderit fuga. 
              Quos maxime, rerum praesentium quae quod incidunt quas, 
              dignissimos consequatur cupiditate magnam a fugiat nam, 
              accusamus eius unde.
              Lorem ipsum dolor sit amet consectetur adipisicing elit. 
              Adipisci facilis reprehenderit fuga. 
              Quos maxime, rerum praesentium quae quod incidunt quas, 
              dignissimos consequatur cupiditate magnam a fugiat nam, 
              accusamus eius unde.
            </p>
          </div>
        </div>
      </section>
    </div>
  </main>
  
  <footer>
    <div class="footer">
      <div class="logo">
        <img src="/img/brand/coke-logo.png" alt="">
      </div>

      <div class="about">
        <h5>เกี่ยวกับเรา</h5>
        <div class="address">
          <p>บริษัทวินซอฟโซลูชั่น จำกัด (สำนักงานใหญ่)</p>
          <p>120/34-35 Moo24 Muang Khonkaen, KhonKaen 40000</p>
          <p>เลขประจำตัวผู้เสียภาษี 0123456789</p>
        </div>
      </div>

      <div class="contact">
        <h5>ติดต่อเรา</h5>
        <p>เวลาทำการ: จันทร์-เสาร์ 8:30 - 17:30 น.</p>
        <p>ขอความช่วยเหลือ: wynnsoft20151@gmail.com</p>
        <p>ต้องการพื้นที่โฆษณา: wynnsoft20151@gmail.com</p>
        <p>เบอร์โทรศัพท์: 043-002-300, 062-909-1110 (การตลาด)</p>
      </div>

      <div class="social">
        <h5>Social Networks</h5>
        <div class="list">
          <a href=""><div class="facebook"><i class="fab fa-facebook-square"></i><span>Like us on Facebook</span></div></a>
          <a href=""><div class="twitter"><i class="fab fa-twitter-square"></i><span>Follow us on Twitter</span></div></a>
          <a href=""><div class="instagram"><i class="fab fa-instagram"></i><span>Follow us on Instagram</span></div></a>
        </div>
      </div>
    </div>

    <div class="copyright">
      <div class="copyright-text">
        <p>
          สงวนสิทธิ์ &copy; 2020 <a href="">บริษัทวินซอฟโซลูชั่น จำกัด</a>
        </p>
        <a href="">เงื่อนไขตกลงการใช้งาน</a>
        <a href="">นโยบายความเป็นส่วนตัว</a>
      </div>
    </div>
  </footer>
  
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="/js/home.js"></script>
</body>
</html>