<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Job Solution</title>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;600;700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/37e3c13129.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

  <link rel="stylesheet" href="/css/job.min.css">
  <link rel="stylesheet" href="/css/employee.min.css">
</head>
<body>
  <header>
    <div class="header">
      <div class="left"><a href=""><img src="/img/logo/Logowhite-07.svg" alt=""></a></div>
      <div class="right">
        <ul class="menu">
          <a href="">
            <li><i class="far fa-building"></i> บริษัททั้งหมด</li>
          </a>
          <a href="">
            <li><i class="fas fa-home"></i> เกี่ยวกับเรา</li>
          </a>
          <a href="">
            <li><i class="fas fa-id-card"></i> ฝากประวัติ</li>
          </a>
          <a href="">
            <li><i class="fas fa-edit"></i> สมัครสมาชิก</li>
          </a>
          <a href="">
            <li><i class="fas fa-sign-in-alt"></i> เข้าสู่ระบบ</li>
          </a>
          <li class="account">
            <i class="far fa-user"></i> บัญขีของฉัน

            <ul>
              <a href=""><li><i class="far fa-newspaper"></i> ประวัติของฉัน</li></a>
              <a href=""><li><i class="fas fa-sign-out-alt"></i> ออกจากระบบ</li></a>
            </ul>
          </li>

          
          <li><i class="fas fa-globe"></i> TH</li>
        </ul>
        <div class="company"><button class="form-component button">สำหรับบริษัท</button></div>
        <div class="other">
          <i class="fas fa-ellipsis-v" onclick="swip_menu(this)"></i>
          <ul>
            <a href=""><li><i class="far fa-newspaper"></i> บทความ</li></a>
            <a href=""><li><i class="fas fa-mobile-alt"></i> ติดต่อเรา</li></a>
            <a href=""><li><i class="fas fa-gavel"></i> เงื่อนไขการใช้บริการ</li></a>
            <a href=""><li><i class="fas fa-fingerprint"></i> นโยบายความเป็นส่วนตัว</li></a>
            <a href=""><li><i class="fas fa-exclamation-triangle"></i> ข้อจำกัดความรับผิดชอบ</li></a>
          </ul>
        </div>
        <div class="lang">
          <li><i class="fas fa-globe"></i> TH</li>
          <li><i class="fas fa-globe"></i> EN</li>
          <li><i class="fas fa-globe"></i> KH</li>
        </div>
      </div>
    </div>
  </header>

  <main>
    <div class="page">
      <div class="aside">
        <li><a href=""><i class="fas fa-edit"></i> ข้อมูลการสมัครสมาชิก</a></li>
        <li class="personal">
          <i class="far fa-address-card"></i> ประวัติส่วนตัว <i class="fas fa-chevron-up"></i>

          <ul>
            <li><a href="">ข้อมูลส่วนตัว</a></li>
            <li><a href="">ลักษณะงานที่ต้องการ</a></li>
            <li><a href="">ประวัติการศึกษา</a></li>
            <li><a href="">ประวัติการทำงาน/ฝึกงาน</a></li>
            <li><a href="">ประวัติการฝึกอบรม/ประกาศนียบัตร</a></li>
            <li><a href="">ความสามารถ/ผลงาน</a></li>
            <li><a href="">Portfolio</a></li>
          </ul>
        </li>
        <li><a href=""><i class="fas fa-briefcase"></i> งานของฉัน </a></li>
      </div>

      <div class="main-content">
        <div class="head-title">
          <h1>ข้อมูลการสมัครสมาชิก</h1>
        </div>

        <div class="info-page">
          <div class="picture">
            <figure><img src="/img/avatar.jpg" alt=""></figure>
            <div class="detail">
              <p>คลิกที่รูปเพื่อเลือกรูป และกดปุ่มอัพโหลด</p>
              <button class="form-component button">อัพโหลด</button>
            </div>
          </div>

          <div class="detail-info">
            <p>รหัสสมาชิก : 123456</p>
            <p>เป็นสมาชิกตั้งแต่ : 20 มิ.ค. 2563</p>
            <p>เข้าใช้งานล่าสุด : 2 ธ.ค. 2563</p>
            <p>แก้ไขข้อมูลล่าสุด : 2 ธ.ค. 2563</p>
          </div>

          <div class="tig-public">
            <div class="public">
              <input type="radio" id="public" name="public-data">
              <label for="public">เปิดเผยข้อมูลทั้งหมด : </label>
              <p>ประวัติของคุณสามารถถูกสืบค้นจากบริษัทชั้นนำ ซึ่งกำลังต้องการพนักงาน หรือผู้บริหารที่มีความสามารถเช่นคุณ</p>
            </div>

            <div class="unpublic">
              <input type="radio" id="unpublic" name="public-data">
              <label for="unpublic">ไม่เปิดเผยข้อมูล (ใช้ในการส่งใบสมัครอย่างเดียว) : </label>
              <p>
                คุณสามารถปกปิดประวัติเพื่อรักษาความเป็นส่วนตัวของคุณได้ โดยประวัติของคุณจะไม่สามารถถูกสืบค้นจากบริษัทใดๆ
                การฝากประวัติของคุณ มีไว้เพื่อใช้ในบริการส่งใบสมัครเท่านั้น
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  
  <footer>
    <div class="footer">
      <div class="logo">
        <img src="/img/brand/coke-logo.png" alt="">
      </div>

      <div class="about">
        <h5>เกี่ยวกับเรา</h5>
        <div class="address">
          <p>บริษัทวินซอฟโซลูชั่น จำกัด (สำนักงานใหญ่)</p>
          <p>120/34-35 Moo24 Muang Khonkaen, KhonKaen 40000</p>
          <p>เลขประจำตัวผู้เสียภาษี 0123456789</p>
        </div>
      </div>

      <div class="contact">
        <h5>ติดต่อเรา</h5>
        <p>เวลาทำการ: จันทร์-เสาร์ 8:30 - 17:30 น.</p>
        <p>ขอความช่วยเหลือ: wynnsoft20151@gmail.com</p>
        <p>ต้องการพื้นที่โฆษณา: wynnsoft20151@gmail.com</p>
        <p>เบอร์โทรศัพท์: 043-002-300, 062-909-1110 (การตลาด)</p>
      </div>

      <div class="social">
        <h5>Social Networks</h5>
        <div class="list">
          <a href=""><div class="facebook"><i class="fab fa-facebook-square"></i><span>Like us on Facebook</span></div></a>
          <a href=""><div class="twitter"><i class="fab fa-twitter-square"></i><span>Follow us on Twitter</span></div></a>
          <a href=""><div class="instagram"><i class="fab fa-instagram"></i><span>Follow us on Instagram</span></div></a>
        </div>
      </div>
    </div>

    <div class="copyright">
      <div class="copyright-text">
        <p>
          สงวนสิทธิ์ &copy; 2020 <a href="">บริษัทวินซอฟโซลูชั่น จำกัด</a>
        </p>
        <a href="">เงื่อนไขตกลงการใช้งาน</a>
        <a href="">นโยบายความเป็นส่วนตัว</a>
      </div>
    </div>
  </footer>
  
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="/js/app.js"></script>
</body>
</html>