<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Job Solution</title>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;600;700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/37e3c13129.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

  <link rel="stylesheet" href="/css/job.min.css">
  <link rel="stylesheet" href="/css/employee.min.css">
</head>
<body>
  <header>
    <div class="header">
      <div class="left"><a href=""><img src="/img/logo/Logowhite-07.svg" alt=""></a></div>
      <div class="right">
        <ul class="menu">
          <a href="">
            <li><i class="far fa-building"></i> บริษัททั้งหมด</li>
          </a>
          <a href="">
            <li><i class="fas fa-home"></i> เกี่ยวกับเรา</li>
          </a>
          <a href="">
            <li><i class="fas fa-id-card"></i> ฝากประวัติ</li>
          </a>
          <a href="">
            <li><i class="fas fa-edit"></i> สมัครสมาชิก</li>
          </a>
          <a href="">
            <li><i class="fas fa-sign-in-alt"></i> เข้าสู่ระบบ</li>
          </a>
          <li class="account">
            <i class="far fa-user"></i> บัญขีของฉัน

            <ul>
              <a href=""><li><i class="far fa-newspaper"></i> ประวัติของฉัน</li></a>
              <a href=""><li><i class="fas fa-sign-out-alt"></i> ออกจากระบบ</li></a>
            </ul>
          </li>

          
          <li><i class="fas fa-globe"></i> TH</li>
        </ul>
        <div class="company"><button class="form-component button">สำหรับบริษัท</button></div>
        <div class="other">
          <i class="fas fa-ellipsis-v" onclick="swip_menu(this)"></i>
          <ul>
            <a href=""><li><i class="far fa-newspaper"></i> บทความ</li></a>
            <a href=""><li><i class="fas fa-mobile-alt"></i> ติดต่อเรา</li></a>
            <a href=""><li><i class="fas fa-gavel"></i> เงื่อนไขการใช้บริการ</li></a>
            <a href=""><li><i class="fas fa-fingerprint"></i> นโยบายความเป็นส่วนตัว</li></a>
            <a href=""><li><i class="fas fa-exclamation-triangle"></i> ข้อจำกัดความรับผิดชอบ</li></a>
          </ul>
        </div>
        <div class="lang">
          <li><i class="fas fa-globe"></i> TH</li>
          <li><i class="fas fa-globe"></i> EN</li>
          <li><i class="fas fa-globe"></i> KH</li>
        </div>
      </div>
    </div>
  </header>

  <main>
    <div class="page">
      <div class="aside">
        <li><a href=""><i class="fas fa-edit"></i> ข้อมูลการสมัครสมาชิก</a></li>
        <li class="personal">
          <i class="far fa-address-card"></i> ประวัติส่วนตัว <i class="fas fa-chevron-up"></i>

          <ul>
            <li><a href="">ข้อมูลส่วนตัว</a></li>
            <li><a href="">ลักษณะงานที่ต้องการ</a></li>
            <li><a href="">ประวัติการศึกษา</a></li>
            <li><a href="">ประวัติการทำงาน/ฝึกงาน</a></li>
            <li><a href="">ประวัติการฝึกอบรม/ประกาศนียบัตร</a></li>
            <li><a href="">ความสามารถ/ผลงาน</a></li>
            <li><a href="">Portfolio</a></li>
          </ul>
        </li>
        <li><a href=""><i class="fas fa-briefcase"></i> งานของฉัน </a></li>
      </div>

      <div class="main-content">
        <div class="head-title">
          <h1>ลักษณะงานที่ต้องการ</h1>
          <p>*กรุณากรอกข้อมูลในช่อง (*) ให้ครบ</p>
        </div>

        <div class="personal-page">
            <form action="">  
              <div class="row">
                <div class="input-box">
                  <label for="">Position 1 *</label>
                  <input type="text" placeholder="" class="form-component input">
                </div>

                <div class="input-box">
                  <label for="">Position 2 *</label>
                  <input type="text" placeholder="" class="form-component input">
                </div>
              </div>
              
              <div class="row">
                <div class="input-box">
                  <label for="">ประเภทงาน *</label>
                  <select name="" id="" class="form-component input">
                    <option value="">ศิลปะ/ออกแบบ/กราฟฟิค</option>
                    <option value="">โปรแกรมเมอร์</option>
                    <option value="">การตลาด</option>
                  </select>
                </div>
              </div>

              <div class="row">
                <div class="input-box">
                  <label for="">ระยะเวลาการทำงาน *</label>
                  <select name="" id="" class="form-component input">
                    <option value="">ประจำ</option>
                    <option value="">ชั่วคราว</option>
                  </select>
                </div>

                <div class="input-box">
                  <label for="">เงินเดือนที่ต้อง *</label>
                  <input type="number" placeholder="" class="form-component input">
                </div>
              </div>

              <div class="row">
                <div class="input-box">
                  <label for="">สถานที่ต้องการทำงาน *</label>
                  <input type="text" class="form-component input" placeholder="ขอนแก่น,สารคาม">
                </div>
              </div>

              <div class="row">
                <div class="input-radio insure">
                  <input type="checkbox" id="insure">
                  <label for="insure">ทำเครื่องหมายถูกในช่องนี้หากท่าน <span>"ไม่สนใจงานขายประกัน"</span></label>
                </div>
              </div>
              
              <div class="submit-button">
                <button type="button" class="form-component button">Submit</button>
              </div>
            </form>
        </div>
      </div>
    </div>
  </main>
  
  <footer>
    <div class="footer">
      <div class="logo">
        <img src="/img/brand/coke-logo.png" alt="">
      </div>

      <div class="about">
        <h5>เกี่ยวกับเรา</h5>
        <div class="address">
          <p>บริษัทวินซอฟโซลูชั่น จำกัด (สำนักงานใหญ่)</p>
          <p>120/34-35 Moo24 Muang Khonkaen, KhonKaen 40000</p>
          <p>เลขประจำตัวผู้เสียภาษี 0123456789</p>
        </div>
      </div>

      <div class="contact">
        <h5>ติดต่อเรา</h5>
        <p>เวลาทำการ: จันทร์-เสาร์ 8:30 - 17:30 น.</p>
        <p>ขอความช่วยเหลือ: wynnsoft20151@gmail.com</p>
        <p>ต้องการพื้นที่โฆษณา: wynnsoft20151@gmail.com</p>
        <p>เบอร์โทรศัพท์: 043-002-300, 062-909-1110 (การตลาด)</p>
      </div>

      <div class="social">
        <h5>Social Networks</h5>
        <div class="list">
          <a href=""><div class="facebook"><i class="fab fa-facebook-square"></i><span>Like us on Facebook</span></div></a>
          <a href=""><div class="twitter"><i class="fab fa-twitter-square"></i><span>Follow us on Twitter</span></div></a>
          <a href=""><div class="instagram"><i class="fab fa-instagram"></i><span>Follow us on Instagram</span></div></a>
        </div>
      </div>
    </div>

    <div class="copyright">
      <div class="copyright-text">
        <p>
          สงวนสิทธิ์ &copy; 2020 <a href="">บริษัทวินซอฟโซลูชั่น จำกัด</a>
        </p>
        <a href="">เงื่อนไขตกลงการใช้งาน</a>
        <a href="">นโยบายความเป็นส่วนตัว</a>
      </div>
    </div>
  </footer>
  
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="/js/app.js"></script>
</body>
</html>