<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Job Solution</title>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;600;700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/37e3c13129.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

  <link rel="stylesheet" href="/css/job.min.css">
  <link rel="stylesheet" href="/css/employee.min.css">
</head>
<body>
  <header>
    <div class="header">
      <div class="left"><a href=""><img src="/img/logo/Logowhite-07.svg" alt=""></a></div>
      <div class="right">
        <ul class="menu">
          <a href="">
            <li><i class="far fa-building"></i> All employers</li>
          </a>
          <a href="">
            <li><i class="fas fa-home"></i> About us</li>
          </a>
          <a href="">
            <li><i class="fas fa-id-card"></i> Store resume</li>
          </a>
          <a href="">
            <li><i class="fas fa-edit"></i> Register</li>
          </a>
          <a href="">
            <li><i class="fas fa-sign-in-alt"></i> Log in</li>
          </a>
          <li class="account">
            <i class="far fa-user"></i> My Account

            <ul>
              <a href=""><li><i class="far fa-newspaper"></i> My History</li></a>
              <a href=""><li><i class="fas fa-sign-out-alt"></i> Log out</li></a>
            </ul>
          </li>

          
          <li><i class="fas fa-globe"></i> TH</li>
        </ul>
        <div class="company"><button class="form-component button">For company</button></div>
        <div class="other">
          <i class="fas fa-ellipsis-v" onclick="swip_menu(this)"></i>
          <ul>
            <a href=""><li><i class="far fa-newspaper"></i> Article</li></a>
            <a href=""><li><i class="fas fa-mobile-alt"></i> Contact us</li></a>
            <a href=""><li><i class="fas fa-gavel"></i> Terms of service</li></a>
            <a href=""><li><i class="fas fa-fingerprint"></i> Privacy policy</li></a>
            <a href=""><li><i class="fas fa-exclamation-triangle"></i> Disclaimer</li></a>
          </ul>
        </div>
        <div class="lang">
          <li><i class="fas fa-globe"></i> TH</li>
          <li><i class="fas fa-globe"></i> EN</li>
          <li><i class="fas fa-globe"></i> KH</li>
        </div>
      </div>

      <div class="hamburger"><i class="fas fa-bars" onclick="open_mobile_navMenu()"></i></div>
    </div>
  </header>

  <main>
    <div class="page">
      <div class="icon-aside" onclick="open_menu_aside()"><i class="fas fa-bars"></i></div>
      <div class="aside">
        <li><a href=""><i class="fas fa-edit"></i> ข้อมูลการสมัครสมาชิก</a></li>
        <li class="personal">
          <i class="far fa-address-card"></i> ประวัติส่วนตัว <i class="fas fa-chevron-up"></i>

          <ul>
            <li><a href="">ข้อมูลส่วนตัว</a></li>
            <li><a href="">ลักษณะงานที่ต้องการ</a></li>
            <li><a href="">ประวัติการศึกษา</a></li>
            <li><a href="">ประวัติการทำงาน/ฝึกงาน</a></li>
            <li><a href="">ประวัติการฝึกอบรม/ประกาศนียบัตร</a></li>
            <li><a href="">ความสามารถ/ผลงาน</a></li>
            <li><a href="">Portfolio</a></li>
          </ul>
        </li>
        <li><a href=""><i class="fas fa-briefcase"></i> งานของฉัน </a></li>
      </div>

      <div class="main-content">
        <div class="head-title">
          <h1>ความสามารถ/ผลงาน</h1>
          <p>*กรุณากรอกข้อมูลในช่อง (*) ให้ครบ</p>
        </div>

        <div class="personal-page">
            <form action="">  
              <div class="lang">
                <div class="box">
                  <div class="input-box">
                    <label for="">ภาษา</label>
                    <input type="text" class="form-component input" placeholder="อังกฤษ">
                  </div>

                  <div class="input-box">
                    <label for="">พูด</label>
                    <select name="" id="" class="form-component select">
                      <option value="">ดีมาก</option>
                      <option value="">ดีมาก</option>
                      <option value="">พอใช้</option>
                    </select>
                  </div>

                  <div class="input-box">
                    <label for="">อ่าน</label>
                    <select name="" id="" class="form-component select">
                      <option value="">ดีมาก</option>
                      <option value="">ดีมาก</option>
                      <option value="">พอใช้</option>
                    </select>
                  </div>

                  <div class="input-box">
                    <label for="">เขียว</label>
                    <select name="" id="" class="form-component select">
                      <option value="">ดีมาก</option>
                      <option value="">ดีมาก</option>
                      <option value="">พอใช้</option>
                    </select>
                  </div>
                </div>

                <div class="add-lang">
                  <i class="fas fa-plus"></i>
                  <span>เพิ่มภาษา</span>
                </div>
              </div>

              <div class="typing">
                <div class="row">
                  <div class="input-box">
                    <label for="">พิมพ์ดีดไทย (คำ/นาที)</label>
                    <input type="number" placeholder="60" class="form-component input">
                  </div>
                </div>

                <div class="row">
                  <div class="input-box">
                    <label for="">พิมพ์ดีดอังกฤษ (คำ/นาที)</label>
                    <input type="number" placeholder="60" class="form-component input">
                  </div>
                </div>
              </div>

              <div class="driving">
                <label for="">ความสามารถในการขับขี่</label>
                <div class="group-check">
                  <div class="checkbox">
                    <input type="checkbox" id="car">
                    <label for="car">รถยนต์</label>
                  </div>

                  <div class="checkbox">
                    <input type="checkbox" id="bike">
                    <label for="bike">รถจักรยานยนต์</label>
                  </div>

                  <div class="checkbox">
                    <input type="checkbox" id="truck">
                    <label for="truck">รถบรรทุก</label>
                  </div>

                  <div class="checkbox">
                    <input type="checkbox" id="pickup">
                    <label for="pickup">รถกระบะ</label>
                  </div>

                  <div class="checkbox">
                    <input type="checkbox" id="folklift">
                    <label for="folklift">รถโฟลลิฟต์</label>
                  </div>
                </div>
              </div>

              <div class="driving">
                <label for="">มีพาหนะส่วนตัว</label>
                <div class="group-check">
                  <div class="checkbox">
                    <input type="checkbox" id="car">
                    <label for="car">รถยนต์</label>
                  </div>

                  <div class="checkbox">
                    <input type="checkbox" id="bike">
                    <label for="bike">รถจักรยานยนต์</label>
                  </div>

                  <div class="checkbox">
                    <input type="checkbox" id="truck">
                    <label for="truck">รถบรรทุก</label>
                  </div>

                  <div class="checkbox">
                    <input type="checkbox" id="pickup">
                    <label for="pickup">รถกระบะ</label>
                  </div>

                  <div class="checkbox">
                    <input type="checkbox" id="folklift">
                    <label for="folklift">รถโฟลลิฟต์</label>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="input-box">
                  <label for="">ความสามารถอื่นๆ</label>
                  <textarea name="" id="" class="form-component input" cols="30" rows="6"></textarea>
                </div>
              </div>

              <div class="row">
                <div class="input-box">
                  <label for="">โครงการ ผลงาน ประสบการณ์อื่นๆ</label>
                  <textarea name="" id="" class="form-component input" cols="30" rows="6"></textarea>
                </div>
              </div>

              <div class="row">
                <div class="input-box">
                  <label for="">บุคคลอ้างอิง</label>
                  <textarea name="" id="" class="form-component input" cols="30" rows="6"></textarea>
                </div>
              </div>
              
              <div class="submit-button">
                <button type="button" class="form-component button">Submit</button>
              </div>
            </form>
        </div>
      </div>
    </div>
  </main>
  
  <footer>
    <div class="footer">
      <div class="logo">
        <img src="/img/logo/Logowhite-07.svg" alt="">
      </div>

      <div class="about">
        <h5>About Us</h5>
        <div class="address">
          <p>Wynnsoff Solution Co., Ltd. (Headquarters)</p>
          <p>120/34-35 Village no.24, Meuang, Khonkaen 40000</p>
          <p>Tax ID numbers 0123456789123</p>
        </div>
      </div>

      <div class="contact">
        <h5>Contact</h5>
        <p>Office hours : Monday - Saturday 08.30 am - 5.00 pm.</p>
        <p>Advertising : wynnsoft20151@gmail.com</p>
        <p>Phone number: 043-002-300, 062-909-1110 (Marketing)</p>
      </div>

      <div class="social">
        <h5>Social Networks</h5>
        <div class="list">
          <a href=""><div class="facebook"><i class="fab fa-facebook-square"></i><span>Like us on Facebook</span></div></a>
          <a href=""><div class="twitter"><i class="fab fa-twitter-square"></i><span>Follow us on Twitter</span></div></a>
          <a href=""><div class="instagram"><i class="fab fa-instagram"></i><span>Follow us on Instagram</span></div></a>
        </div>
      </div>
    </div>

    <div class="copyright">
      <div class="copyright-text">
        <p>
          CopyRight &copy; 2020 <a href="">Wynnsoff Solution Co., Ltd.</a>
        </p>
        <a href="">Terms of service</a>
        <a href="">Privacy policy</a>
      </div>
    </div>
  </footer>
  
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="/js/app.js"></script>
</body>
</html>