<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Job Solution</title>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;600;700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/37e3c13129.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

  <link rel="stylesheet" href="/css/job.min.css">
  <link rel="stylesheet" href="/css/payment.min.css">
</head>
<body>
  <header>
    <div class="header">
      <div class="left"><a href=""><img src="/img/logo/Logowhite-07.svg" alt=""></a></div>
      <div class="right">
        <ul class="menu">
          <a href="">
            <li><i class="far fa-building"></i> All employers</li>
          </a>
          <a href="">
            <li><i class="fas fa-home"></i> About us</li>
          </a>
          <a href="">
            <li><i class="fas fa-id-card"></i> Store resume</li>
          </a>
          <a href="">
            <li><i class="fas fa-edit"></i> Register</li>
          </a>
          <a href="">
            <li><i class="fas fa-sign-in-alt"></i> Log in</li>
          </a>
          <li class="account">
            <i class="far fa-user"></i> My Account

            <ul>
              <a href=""><li><i class="far fa-newspaper"></i> My History</li></a>
              <a href=""><li><i class="fas fa-sign-out-alt"></i> Log out</li></a>
            </ul>
          </li>

          
          <li><i class="fas fa-globe"></i> TH</li>
        </ul>
        <div class="company"><button class="form-component button">For company</button></div>
        <div class="other">
          <i class="fas fa-ellipsis-v" onclick="swip_menu(this)"></i>
          <ul>
            <a href=""><li><i class="far fa-newspaper"></i> Article</li></a>
            <a href=""><li><i class="fas fa-mobile-alt"></i> Contact us</li></a>
            <a href=""><li><i class="fas fa-gavel"></i> Terms of service</li></a>
            <a href=""><li><i class="fas fa-fingerprint"></i> Privacy policy</li></a>
            <a href=""><li><i class="fas fa-exclamation-triangle"></i> Disclaimer</li></a>
          </ul>
        </div>
        <div class="lang">
          <li><i class="fas fa-globe"></i> TH</li>
          <li><i class="fas fa-globe"></i> EN</li>
          <li><i class="fas fa-globe"></i> KH</li>
        </div>
      </div>

      <div class="hamburger"><i class="fas fa-bars" onclick="open_mobile_navMenu()"></i></div>
    </div>
  </header>

  <main>
    <div class="page">  
      <div class="main-content">
        <div class="head-title">
          <h1>ชำระเงิน</h1>
          <p>กรุณากรอกข้อมูลให้ครบ</p>
        </div>

        <div class="payment">
          <div class="box-summary">
            <div class="title-head"><p>สรุปรายการสั่งซื้อ</p></div>

            <div class="list-package">
              <p>Business Package</p>
              <div class="package-box">
                <div class="left"><p>2 สัปดาห์ 1 ตำแหน่ง</p></div>
                <div class="right">
                  <span>฿700</span>
                </div>
              </div>
              <div class="package-box">
                <div class="left"><p>2 สัปดาห์ 2 ตำแหน่ง</p></div>
                <div class="right">
                  <span>฿700</span>
                </div>
              </div>
            </div>

            <div class="sum">
              <p>รวม</p>
              <p>฿700</p>
            </div>
          </div>

          <div class="pay-box banking">
            <div class="select-type">
              <div class="circle"><div class="select"></div></div>
              <div class="name-type">
                <i class="fas fa-university"></i>
                <span>Online Banking</span>
              </div>
            </div>

            <form action="">
              <div class="row">
                <div class="input-box">
                  <label for="">เลือกบัญชีผู้รับ</label>
                  <select name="" id="" class="form-component select">
                    <option value="">SCB ไทยพาณิชย์</option>
                    <option value="">K Bank กสิกร</option>
                  </select>
                </div>
              </div>

              <div class="row two">
                <div class="input-box col1-3">
                  <label for="">ชื่อผู้โอน</label>
                  <input type="text" class="form-component input">
                </div>
                <div class="input-box">
                  <label for="">วันที่</label>
                  <input type="date" id="date" class="form-component input">
                </div>
                <div class="input-box">
                  <label for="">เวลา</label>
                  <input type="date" id="time" class="form-component input">
                </div>
              </div>

              <div class="upload-zone">
                <div class="left"><figure><img src="/img/default.jpg" alt=""></figure></div>
                <div class="right">
                  <p>อัพโหลดสลิปโอนเงิน</p>
                  <div class="button"><button type="button" class="form-component button">Choose File</button></div>
                  <p class="ps">
                    อัพโหลดได้เฉพาะไฟล์รูปภาพประเภท jpg png ขนาดไม่เกิน 3Mb
                  </p>
                </div>
              </div>

              <div class="button-submit">
                <button type="button" class="form-component button">Pay</button>
              </div>
            </form>
          </div>

          <div class="pay-box credit">
            <div class="select-type">
              <div class="circle"><div class=""></div></div>
              <div class="name-type">
                <i class="far fa-credit-card"></i>
                <span>Credit</span>
              </div>
            </div>

            <form action="">
              <div class="row">
                <div class="input-box">
                  <label for="">Credit Card Number</label>
                  <input type="tel" class="form-component input">
                </div>
              </div>

              <div class="row two">
                <div class="input-box">
                  <label for="">เดือน</label>
                  <input type="tel" class="form-component input">
                </div>
                <div class="input-box">
                  <label for="">ปี</label>
                  <input type="tel" class="form-component input">
                </div>
                <div class="input-box col1-3">
                  <label for="">CVV</label>
                  <input type="tel" class="form-component input">
                </div>
              </div>

              <div class="button-submit">
                <button type="button" class="form-component button">Pay</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
  
  <footer>
    <div class="footer">
      <div class="logo">
        <img src="/img/logo/Logowhite-07.svg" alt="">
      </div>

      <div class="about">
        <h5>About Us</h5>
        <div class="address">
          <p>Wynnsoff Solution Co., Ltd. (Headquarters)</p>
          <p>120/34-35 Village no.24, Meuang, Khonkaen 40000</p>
          <p>Tax ID numbers 0123456789123</p>
        </div>
      </div>

      <div class="contact">
        <h5>Contact</h5>
        <p>Office hours : Monday - Saturday 08.30 am - 5.00 pm.</p>
        <p>Advertising : wynnsoft20151@gmail.com</p>
        <p>Phone number: 043-002-300, 062-909-1110 (Marketing)</p>
      </div>

      <div class="social">
        <h5>Social Networks</h5>
        <div class="list">
          <a href=""><div class="facebook"><i class="fab fa-facebook-square"></i><span>Like us on Facebook</span></div></a>
          <a href=""><div class="twitter"><i class="fab fa-twitter-square"></i><span>Follow us on Twitter</span></div></a>
          <a href=""><div class="instagram"><i class="fab fa-instagram"></i><span>Follow us on Instagram</span></div></a>
        </div>
      </div>
    </div>

    <div class="copyright">
      <div class="copyright-text">
        <p>
          CopyRight &copy; 2020 <a href="">Wynnsoff Solution Co., Ltd.</a>
        </p>
        <a href="">Terms of service</a>
        <a href="">Privacy policy</a>
      </div>
    </div>
  </footer>
  
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
  <script src="/js/app.js"></script>
  <script src="/js/payment.js"></script>
</body>
</html>